body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Arial', 'Helvetica', 'Sans-Serif';
    font-weight: bold;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'Arial', 'Helvetica', 'Sans-Serif';
    font-size: 3em;
}
p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.2em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-size: 1.0em;
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}
