---
layout: default
---
<!--
<!DOCTYPE html>
 <html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="/glossary">Glossary</a></li>
			<li><a href="/thankyou">Thank You</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div>< /.container >
		<footer>
    		<ul>
        		<li><a href="https://github.com/timhaintz">github.com/timhaintz</a></li>
			<li><a href="https://social.technet.microsoft.com/profile/tim%20haintz/">social.technet.microsoft.com/timhaintz</a></li>
			<li><a href="https://stackexchange.com/users/9500988/tim-haintz?tab=accounts">stackexchange.com/timhaintz</a></li>
		</ul>
		</footer>
	{% include analytics.html %}
	</body>
</html>
-->


<!doctype html>
<html lang="{{ site.lang | default: "en-AU" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

  </head>
  <body>
      <div id="header">
        <nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="/glossary">Glossary</a></li>
			<li><a href="/thankyou">Thank You</a></li>
    		</ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
	  <footer>
    		<ul>
        		<li><a href="https://github.com/timhaintz">github.com/timhaintz</a></li>
			<li><a href="https://social.technet.microsoft.com/profile/tim%20haintz/">social.technet.microsoft.com/timhaintz</a></li>
			<li><a href="https://stackexchange.com/users/9500988/tim-haintz?tab=accounts">stackexchange.com/timhaintz</a></li>
		</ul>
	  </footer>
	{% include analytics.html %}
 </body>
</html>
